[Unit]
Description=FriendsTV Player Buttons
After=network.target

[Service]
WorkingDirectory=/home/pi/friendstv/
User=kosiru
ExecStart=/usr/bin/python3 /home/pi/friendstv/buttons.py
Restart=always

[Install]
WantedBy=multi-user.target
